body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0px;
}

nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 275px;
    background-color: #1F1F3D;
    border: 1px solid #1F1F3D;
}

.main-header {
    color: white;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 20px;
    padding: 20px;
}

.filter-ideas-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15%;
    padding: 15px;
    border-top: solid 2px #353567;
    border-bottom: solid 2px #353567;
}

.starred-btn {
    height: 38%;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #5356A4;
    border: none;
}

.filter-ideas {
    color: #BFBFDD;
    font-family: "Open Sans";
    margin-left: 2px;
    margin-bottom: 20px;
}

/*new idea form*/

main {
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
  width: 100%;
  height: 50%;
}
